@charset "UTF-8";

body {
    background-color: rgb(29, 25, 25);
    color: white;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    text-align: center;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
}

div {
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(93, 197, 223);
    text-decoration: underline;
}
