@charset "UTF-8";

/*
    em HTML é id    = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: #9BE3B4;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #0D4A23;
}

#principal {
    text-align: center;
    background-color: #0D4A23;
    color: white;
}

h2 {
    color: #1B9646;
}

.basico {
    color: rgb(197, 197, 34);
}

.intermediario {
    color: rgb(143, 17, 17);
}

.avancado {
    color: rgb(5, 5, 116);
}

.destaque {
    background-color: lightpink;
}
